body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0;
}

header {
    background-color: #598659;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    background-color: #A3AFA3;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}

h1 {
    font-size: 1.2em;
    color: #598659;
    text-align: center;
    margin-top: 20px;
    font-size: 1.75em;
}

h2 {
    color: #3498db;
    margin: 50px;
}

h3 {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
}

h4 {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
}

h5 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #4a5c7a;
    font-size: 22.5px;
}

p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.6;
    margin: 50px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.book {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-image {
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 1s ease;
    width: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container:hover .carousel {
    animation-play-state: paused;
}

.carousel-nav.left {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 10;
}

.carousel-nav.right {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 10;
}

.dashboard {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}
.card {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card h3 {
    margin-top: 0;
}
.card p {
    margin-bottom: 10px;
}
